@using Seminar_Oblak.Models.ViewModel
@model List<ProductViewModel>
@{
    int counter = 1;
}

 @foreach (var product in Model.OrderBy(x=> Guid.NewGuid()))
        {
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="@product.ProductImgUrl" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Product: @product.Title</h5>
    <p class="card-text">Description: @product.Description</p>
    <a href="@Url.Action("Details", "Home",new {id = product.Id})" class="btn btn-primary">Details</a>
  </div>
</div>
        }